<div class="container">
  <button class="btn black btn-lg btn-lg fixed-top" style="margin: 35.6rem 0 0 0 " data-toggle="modal" data-target="#canasta">Quienes somos  <i class="fa fa-shopping-basket"></i>  </button>

  <div class="modal micanasta" id="canasta">
    <div class="right white b-t" style="width: 50vh">
      <div class="row-col"><a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>

        <div class="p-a b-b">
          <span class="h5">Nosotros</span>
        </div>
        <div class="container" style="overflow: scroll;">
          <div class="row">
            <div class="col-lg-11" style="overflow: scroll; margin: auto;">
              <h2>No mas filas.</h2>
              <h3> ¿Por que hacer la fila para pedir tu comida y luego retirarla?</h3>
              <h4>Para eso existimos nosotros ! <br>Solo te pedimos acceso a tu ubicación, para señalarte los locales mas cercanos y realizar tu pedido directamente desde nuestra plataforma, asi el tiempo que perdias en esperar en la fila para pagar y luego retirar tu pedido, lo podrás utilizar en lo que tu desees.  </h4>
              <h3> ¿Como funciona?</h3>
              <h4> Solo debes registrarte en nuestra plataforma, ver cual es el local que deseas pedir tu comida, selecciona los productos, realiza el pago mediante Paypal y luego espera a que la tienda te avise cuando esta listo tu pedido</h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
