<%= render 'layouts/carousel' %>
  <div class="container text-center">
    <h1 class="text-center text-white" style="margin: 2rem 0 2rem 0;">Stores</h1>
    <table class="table text-center">
      <tbody>
        <% @stores.each do |store| %>
          <tr scope="row">
            <td><h3 style="margin: 2rem auto 2rem auto;" class="text-left"><%= link_to store.name, store, class:"text-white"%></h3></td>
            <td>
              <p style="margin: 1.2rem 0 1.2rem 0;" ><%= link_to 'Menu', store, class:"btn btn-info btn-lg text-white" %></p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
