  <% if user_signed_in? %>
    <% if current_user.local_admin?%>
      <div class="">
        <%= render 'stores/admin_product' %>
      </div>
    <% else %>
      <div class="" id="mycart">
        <%= render 'stores/nil_product' %>
      </div>
    <% end %>
  <% else %>
    <div class="">
      <%= render 'stores/nil_product' %>
    </div>
  <% end %>
