// carousel
.carousel a:hover{
  background-color: #69878d;
}
.carousel {
  border: 0.4rem solid #333;
  margin: 3.4rem 0 0 0 ;
}
// css admin_local
.admin-products{
  margin: 4rem 0 0 0;
}

.admin-store{
  margin: 4rem 0 0 0;
}


// Productos card

.nombretienda{
  border: 0.3rem solid #333;
  background-color: #252525;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color:floralwhite;
}
.tituloproductos{
  border: 0.3rem solid #333;
  background-color: #252525;
  text-align: left;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color:floralwhite;

}
.card-deck{
  margin: 1rem 0 0 0;
}

.card{
  border: 0.25rem solid #333;
  background-color: #252525;
  color: white;
}
//Stores nil
.view-stores-nil{
  background-color: #252525;
  border: 0.5rem solid #383737;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.form-products{
  margin: 0 auto 0 auto;
  padding: 1rem 2rem 1rem 2rem;
}
.form-stores{
  margin: 0 auto 0 auto;
  padding: 1rem 2rem 1rem 2rem;
}
// borra las lineas de los botones
a, a:link, a:visited {
    text-decoration: none !important;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;

}
// canasta de productos en vista de tiendas
// .micanasta{
//   background-color: black;
//   color: white
// }
