// carousel
.carousel a:hover{
  background-color: #69878d;
}
.carousel {
  border: 0.5rem solid #333;
  margin: 3.1rem 0 0 0 ;
}

// Productos card

.nombretienda{
  border: 1px solid #333;
  background-color: #252525;
  text-align: center;
  margin:  -3.6rem 0 17px 7rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color:floralwhite;
}
.tituloproductos{
  border: 1px solid #333;
  background-color: #252525;
  text-align: left;
  margin:  -1.2rem 0 17px 7rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color:floralwhite;

}

.card{
  border: 1px solid #333;
  background-color: #252525;
  margin: -2.1rem 0 0 0 ;

}

.card-body{
      color: white;
      h5{
        margin: 1rem 1rem 1rem 0rem;
      }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
