<h1 class="text-center text-white" style="margin: 5rem 0 2rem 0;">New Product</h1>
<%= render 'form', product: @product%>
<div class="text-center">
  <h1><%= link_to 'Back', store_path(@store), class:'btn btn-light btn-lg '%></h1>
</div>
